body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.3125rem;
    margin: 0;
}

.container {
    max-width: 570px;
    margin: 0 auto;
}

.circular-landscape {
    display: inline-block;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.circular-landscape img {
    width: 100%;
}

h1,
h2 {
    font-weight: 300;
}

h1 {
    font-size: 3.75rem;
    margin-top: 0;
}

h2 {
    font-size: 2.625rem;
    margin-top: 0;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    /* 2.625 * 16 = 42 */
    /* 20 / 42 */
    padding: .5em 0;
    margin-bottom: .5em;
}

h3 {
    font-size: 2.25rem;
    font-weight: 900;
    margin-bottom: 0;
}

.accent-text {
    display: block;
}

h1 .accent-text {
    font-size: 5rem;
}

h2 .accent-text {
    font-size: 3.75rem;
}

.accent-text,
.name,
time {
    font-weight: 900;
    color: #99d930;
}

p {
    margin-bottom: 0;
}

a {
    color: #99D930;
    font-weight: 900;
}

a:hover,
a:focus {
    color: #131313;
}

.inverse .btn:hover,
.inverse .btn:focus {
    background: #fff;
    color: #252525;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #99D930;
    color: #252525;
    padding: .625em 1.5625em;
    margin-top: 1.5625em;
}

.btn:hover,
.btn:focus {
    background-color: #252525;
    color: #fff;
}


.small-text {
    font-size: 1rem;
    margin-top: .3125em;
}

header,
section {
    padding: 6.25em 0; /*padding-top and padding-bottom*/
}
header {
    background-color: #d7d7d7;
}

.about-me {
    background-color: #ffeaea;
}

.articles {
    background-color: #eaf9ff;
}

.inverse {
    color: #fff;
    background: #252525;
}